#table {
    width: 100%;
    display: table;
}

#cars {
    display: table-row;
    margin: 0 auto;
}

#ford {
    display: table-cell;
    background-color: rgb(230, 74, 13);
}

#alpine {
    display: table-cell;
    background-color: rgb(131, 27, 27);
}

#hyundai {
    display: table-cell;
    background-color: rgb(201, 28, 28);
}

#displayed {
    position: relative;
    float: left;
    margin-right: 30px;
}

#displayed img {
    border-radius: 10%;
}

#description {
    position: relative;
}

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e53935;
}

ul {
    list-style-type: none;
    font-size: 18px;
}